{% extends 'admin/base_admin.html.twig' %}

{% block title %}Modifier la Ressource{% endblock %}
{% block page_title %}Modifier la Ressource{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                {{ include('admin/ressource/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
