services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $apiKey: '%env(OPENROUTER_API_KEY)%'
            $model: '%env(OPENROUTER_MODEL)%'
            $siteUrl: '%env(OPENROUTER_SITE_URL)%'
            $appName: '%env(OPENROUTER_APP_NAME)%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']
        public: true

