{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    {# Load premium fiche CSS - Phase 1 Foundation #}
    <link rel="stylesheet" href="{{ asset('front/css/fiche-premium.css') }}">
{% endblock %}

{% block body_class %}fiche-page{% endblock %}

{% block body %}
<div class="fiche-page">
    {% block fiche_content %}{% endblock %}
</div>
{% endblock %}
